header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .fly-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  /* Style for each fly card */
  .fly-card {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Style for fly name */
  .fly-card h2 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Style for fly image */
  .fly-card img {
    max-width: 60px;
    height: 60px;
    border-radius: 5px;
  }