.navbar {
    display: flex;
    align-items: center; 
    padding: 10px;
    justify-content:flex-start;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin: 5px; 
    padding: 10px 15px; 
    border-radius: 5px;
    border-color: white; 
    transition: background-color 0.3s; 
}


.navbar a.active {
    color: white;
    background-color: black;
    border-radius: 5px;
    border-color: orange; 
}


.navbar a:hover {
    background-color: #e0e0e0; 
    color: black;
    border-radius: 5px;
    border-color: black; 
}

.navbar a {
    background-color: orange;
    color: black;
    border-radius: 5px;
    border-color: white;
}