.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('https://www.redoubtlodge.com/media/images/Fly-Fishing-(header).jpg');
    background-size: cover;
    background-position: 50% 69%;
    height: 30vh;
}

